.box{
  height: 500px;
  background-color:blue;
}
.dayLight{
  background-color: red;
}

.small{
  height: 500px;
  background-color:green;
  font-style: italic;
}
.dayMorning{
  background-color: yellow;
}
